.subcategory-page {
  padding: 2rem;
  text-align: center;
  background: #000;
  color: #fff;
}

.subcategory-page h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.products-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
}

/* Desktop 3 per row */
@media (min-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile 2 per row */
@media (max-width: 767px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
/* Desktop height */
@media (min-width: 768px) {
  .product-card img {
    height: 350px;
  }
}

.product-card p {
  margin-top: 0.5rem;
  font-weight: 500;
  color: #000;
}
