@import "tailwindcss";

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding-left: 10px;
}

label {
  margin-top: 10px;
  margin-left: 5px;
}
/* index.css or App.css */
html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
#root {
  background: #000;
}
