@import "tailwindcss";

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding-left: 10px;
}

label {
  margin-top: 10px;
  margin-left: 5px;
}
/* index.css or App.css */
body {
  font-family: "Roboto", sans-serif;
}
